@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
body {
  padding-top: 70px;
  background-color: #FAFBFB;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default {
  background-color: #000;
  border: 0;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: space-around;
  float: none;
  vertical-align: top;
}

.navbar-default .navbar-nav>li>a {
  font-family: 'Open Sans', sans-serif;
  color: #FCFCFC;
  font-size: 16px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #F5CB5C;
}

header {
  height: 200px;
}
header #main-logo {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: -1px 2px 19px 5px rgba(250,251,251,0.9);

}

#landing {
  height: 700px;
}

#main-info {
  float: left;
  color: #040404;
  line-height: 160%;
  font-family: 'Playfair Display', serif;
  font-size: 1.4em;
  padding: 20px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 10px;
  width: 75%;
}

#logo-top {
  display: flex;
  justify-content: flex-end;
  margin-top: 120px;
  margin-bottom: 20px;
  padding-right: 20px;
}
#logo-bottom {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.logo-pics {
  width: 200px;
  height: 170px;
  border-radius: 10px;
  filter: grayscale(100%);
}
#sq2 {
  margin-right: 20px;
}

.service-heading {
  margin-top: 60px;
}

.class-list {
  list-style: none;
  font-size: 1.2em;
}
